@tailwind base;
@tailwind components;
@tailwind utilities;

body {
margin: 0;
padding: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
  font-size: 34px;
  
}
h2{
  font-size: 26px;
  font-weight: bold;
}
.Link:hover{
  background-color: rgb(202,255,112);
}